<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Emergency Form</title>
</head>
<body>

      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">Enter user info</h2>
                  <form>
                  <div class="form-outline mb-4">
                    <input type="text" id="signup_FirstName" name="name" placeholder="Name" th:value="${param.name}" class="form-control form-control-lg" />
                  </div>
                  <div class="form-outline mb-4">
                      <input type="text" id="signup_LastName" name="last_name" placeholder="Last Name" th:value="${param.last_name}" class="form-control form-control-lg" />
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="signup_Phone" name="phone" placeholder="Phone number" th:value="${param.phone}" class="form-control form-control-lg" />
                  </div>
                  <div class="form-outline mb-4">
                      <input type="text" id="signup_Address" name="address" placeholder="Address" th:value="${param.address}" class="form-control form-control-lg" />
                  </div>

                  <p class="fs-3">Is this:</p>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="response_type" id="response_type1">
                        <label class="form-check-label" for="response_type1">
                          Fire Department or First Response
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="response_type" id="response_type2" checked>
                        <label class="form-check-label" for="response_type2">
                          General Public
                        </label>
                      </div>
                      <p class="fs-3">What is the type of building:</p>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="building_type" id="building_type1">
                        <label class="form-check-label" for="building_type1">
                          Public Use Building
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="building_type" id="building_type2" checked>
                        <label class="form-check-label" for="building_type2">
                          Residential / Private Use Building
                        </label>
                      </div>
                    <p class="fs-3">What is the nature of this Emergency:</p>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="emergency_nature" id="emergency_nature1">
                      <label class="form-check-label" for="emergency_nature1">
                        Meter Hazard
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="emergency_nature" id="emergency_nature2" checked>
                      <label class="form-check-label" for="emergency_nature2">
                        Appliance / Heating System / Hot Water Tank
                      </label>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>