.gradient-custom{
    background: #3474af;
    transition: transform 0.2s ease;
} 
.gradient-custom.btn:hover {
    transform: scale(1.05);
    background: #3474af;
}
.logo-img{
    position: relative;
    right: 30%;
    transform: translateX(-50%);
}